# AppCode / Xcode
.idea/
*.xcworkspace
xcuserdata/

# Build
build/
DerivedData
*.generated.swift
*.hmap
*.ipa
*.xcframework

# CocoaPods
Podfile.lock
Pods/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Secrets
secrets.json

# Windows / MacOS
.DS_Store
